html {
	background: rgb(80,58,180);
	background: linear-gradient(90deg, rgba(80,58,180,1) 0%, rgba(145,50,255,1) 50%, rgba(80,58,180,1) 100%);
}

body {
	text-align: center;
}

html, body {
	height: 90%;
}

h1, h2, h3 {
	color: white;
	font-family: sans-serif;
	text-align: center;
	text-shadow: 0 0 10px white;
}

label {
	color: white;
	font-family: sans-serif;
}

div#content {
	width: 100%;
	column-count: 2;
	display: block;
}

div#svg-container {
	width: 100%;
	display: inline-block;
	min-width: 13em;
}

div#controls {
	width: 70%;
	height: 100%;
	background-color: purple;
	border-radius: 1em;
	display: inline-block;
	vertical-align: top;
	scroll-behavior: auto;
	overflow-y: auto;
	max-width: 20em;
	min-width: 13em;
}

div.controlSection{
	border-radius: 0.75em;
	padding: 0.75em;
	margin: 0.25em;
	background-color: darkviolet;
	display: block;
}

div#genre {
	text-align: left;
	column-count: 2;
}

span.time {
	background-color: purple;
	padding: 2px;
	border-radius: 3px;
	font-family: monospace;
	font-size: 1.2em;
}

div::-webkit-scrollbar {
	width: 20px;
	border-radius: 1em;
}

div::-webkit-scrollbar-track {
	background-color: purple;
	border-radius: 1em;
}

div::-webkit-scrollbar-thumb {
	background: darkviolet;
	border-radius: 1em;
}

div#newMovie {
	text-align: left;
}

input[type="text"] {
	width: 96%;
}

#runHours {
	width: 0.7em;
}

#runMinutes {
	width:1.7em;
	text-align: right;
	padding-right: 4px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}
/* Firefox */
input[type=number] {
	-moz-appearance: textfield;
}

#saveNew {
	align-self: end;
	float: right;
}
